<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WheelText</key>
	<dict>
		<key>Нежный массаж</key>
		<string>Сделайте легкий массаж своему партнеру.</string>
		<key>Танец любви</key>
		<string>Начните медленный танец со своим партнером. Во время танца эротично снимите друг с друга по одной вещи.</string>
		<key>Счет открыт</key>
		<string>Прижмитесь к партнеру и эротично, не менее одной минуты считайте удары сердца в его груди.</string>
		<key>Лишняя одежда</key>
		<string>Эротично снимите с партнера одну вещь, которую вы считаете лишней.</string>
		<key>Вслепую</key>
		<string>Завяжите глаза вашему партнеру приятной на ощупь тканью и чувственно покормите его фруктами (или чем-либо другим).</string>
		<key>Приятное задание</key>
		<string>Придумайте партнеру задание, подключите фантазию, пусть это будет что-то неожиданно приятное.</string>
		<key>Откровенно о…</key>
		<string>Честно расскажите о том, что вас возбуждает в вашем партнере и чем вас к нему притягивает.</string>
		<key>Близость тел</key>
		<string>Легкими касаниями рук эротично и нежно поглаживайте вашего партнера не менее двух минут. При этом смотрите друг другу в глаза.</string>
		<key>Фотосеанс</key>
		<string>Устройте эротический фотосеанс (сделайте не менее 5 фото), где вы выступаете в роли фотографа, а ваш партнер - фотомодель. Снимать одежду или нет - решать вам.</string>
		<key>Откровение</key>
		<string>Признайтесь своему партнеру о каком-либо случае из жизни, когда вам было дико стыдно.</string>
		<key>Тост за любовь</key>
		<string>Расскажите тост за любовь. Выпейте, смотря друг другу в глаза. После обязательно поцелуйтесь.</string>
		<key>Новое имя</key>
		<string>Придумайте друг другу новые нежные прозвища и используйте их до конца игры или до повторного попадания на это задание.</string>
		<key>Любовные письма</key>
		<string>Напишите друг другу короткие любовные письма и спрячьте их где-нибудь в доме. Забудьте о них до тех пора пока случайно не найдете.</string>
		<key>Дорожка из поцелуев</key>
		<string>Целуйте партнера в плечико, спускаясь вниз по руке, покрывайте ее/его нежными поцелуями. Затем возвращайтесь таким же путем, только не останавливайтесь, а продолжайте покрывать поцелуями шею, щеки и лицо партнера.</string>
		<key>Стриптиз</key>
		<string>Покажите стриптиз или сексуальный танец. Музыку выбирает партнер. Не менее 2х минут.</string>
		<key>То самое чувство</key>
		<string>Страстно целуйте партнера в течении 1 минуты.</string>
		<key>Ваша песня</key>
		<string>Нежно напойте партнеру его любимую песню.</string>
		<key>Признание</key>
		<string>Назовите минимум 5 причин, почему вы любите вашего партнера.</string>
		<key>В кровать?</key>
		<string>Пора в кровать.</string>
		<key>Портрет</key>
		<string>Потратьте 5 минут и нарисуйте портреты друг друга. Не подглядывать, пока не закончите.</string>
		<key>Желание</key>
		<string>Загадайте романтическое желание, которое ваш партнер должен обязательно исполнить.</string>
		<key>Особая бутылочка</key>
		<string> Сыграйте в бутылочку, но не на поцелуи, а на раздевание.</string>
	</dict>
</dict>
</plist>
