<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WheelText</key>
	<dict>
		<key>Massage tendre</key>
		<string>Faites le massage tendre pour votre compagnon.</string>
		<key>Danse d’amour</key>
		<string>Commencez une danse lente. Pendant cette danse dépouillez érotiquement de l’un l’autre.</string>
		<key>Compte est ouvert</key>
		<string>Blottissez-vous contre votre compagnon et compter les coups de son cœur.</string>
		<key>Vêtement superflu</key>
		<string>Mettez bas une chose que vous croyez superflu de votre compagnon.</string>
		<key>En aveugle</key>
		<string>Fermez les yeux de votre compagnon par une voile  et fornissez-le par des fruits.</string>
		<key>Devoir plaisant</key>
		<string>Devinez le devoir pour votre compagnon, essayez de le faire plaisant et tendre.</string>
		<key>Franchement dire</key>
		<string>Dites franchement de ce que vous excite.</string>
		<key>Intimité des corps</key>
		<string>Caressez légèrement votre partenaire en se regardant les yeux.</string>
		<key>Photo session</key>
		<string>Faites une photo session érotique, vous aller jouer le rôle d’un photographe. Sans vêtement ou avec – à vous de décider.</string>
		<key>Révélation</key>
		<string>Raconté quelque chose très embarrassant à votre compagnon.</string>
		<key>Toast pour l’amour</key>
		<string>Raconter le toast pour l’amour. Buvez en se regardant les yeux. Il faut se biser après, c’est obligataire.</string>
		<key>Nouveau nom</key>
		<string>Imaginez les surnoms tendres pour votre couple et utilisez-les jusque la fin du jeu ou jusque le moment quand ce devoir se répète.</string>
		<key>Sentier des bisous</key>
		<string>Bisez votre compagnon sur son épaule, allez en bas de la main, couvrez-lui (elle) par des bisous tendres. Après revenez à l’épaule et n’arrêtez pas, continuez de couvrir le visage, les joues et le nec par des bisous.</string>
		<key>Strip-tease</key>
		<string>Faites le strip-tease ou le danse sexuel. Votre compagnon choisit la musique. Pas moins de deux minutes.</string>
		<key>Le même sentiment</key>
		<string>Baisez passionnément votre compagnon pendant une minute. </string>
		<key>Votre chanson</key>
		<string>Chantez tendrement une chanson préférée de votre compagnon.</string>
		<key>Aveu</key>
		<string>Nommez 5 causes au minimum pourquoi vous aimez votre compagnon.</string>
		<key>Au lit ?</key>
		<string>C’est temps d’aller au lit.</string>
		<key>Portrait</key>
		<string>Passez 5 minutes en dessinant les portraits de l’un l’autre.</string>
		<key>Désir</key>
		<string>Devinez un désir romantique que votre compagnon doit accomplir.</string>
		<key>Bouteille spécifique</key>
		<string>Jouer la bouteille mais pas pour les bisous, c’est mieux de jouer pour le déshabillage.</string>
		<key>Lettres d’amour</key>
		<string>Ecrivez des lettres d’amour et cachez-les dans la maison. Oubliez de ce devoir et attendez lorsque vous les trouviez par rencontre.</string>
	</dict>
</dict>
</plist>
